<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tACC</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
  <!--[if gt IE 8]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script> 
  <![endif]-->
  
  <script src="//use.typekit.net/rhk2wub.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="styles/app.min.css">      
</head>
<body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            
            <!-- Header -->
            <header class="header" role="banner">
              <div class="container">
                <nav class="nav" role="navigation">
                  <ul>
                    <li class="visible-xs"><span>Main Menu</span></li>
                    <li><a href="#building-bonds">Building bonds</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#clients">Clients</a></li>
                    <li><a href="#about">Abouts Us</a></li>
                    <li><a class="btn-contact" href="#contact-us">Contact Us</a></li>
                  </ul> 
                </nav>
                <div class="nav-mobile pull-right">
                  <a href="#" class="nav-mobile-trigger"><span></span></a> 
                </div>
                <div class="logo pull-left">
                  <h1><a href="/"><img src="images/logo.svg" alt="The Affective Computing Company"></a></h1>
                </div>

              </div>
            </header>
            <!-- /Header -->

            <!-- Content -->
            <main class="main" role="main">
              <!-- Hero -->
              <section class="hero">
                <div class="caption" data-250="opacity:0" data-0="opacity: 1">
                  <h2>Human to Human Platform</h2>
                  <p>As we build bonds with other people, our interactions become natural, open, and honest. Stop surveying. Start interacting.</p>
                  <a href="#products" class="btn btn-lg btn-default add-right">Learn more</a>
                  <a href="#building-bonds" class="btn btn-lg btn-info-inverted"><i class="fa fa-video-camera"></i> Watch video</a>
                </div>
              </section>
              <!-- /Hero -->

              <!-- Section -->
              <section class="section" id="building-bonds">
                <div class="container">
                  <header class="section-intro">
                    <h3>Big data is old data. Start collecting honest data.</h3>
                    <p>The Affecting Computing Company’s Human to Human (H2H) Platform, the first of it’s kind, runs on devices we already own. The platform monitors, measures, and influences individuals and groups through custom programs. Programs are delivered via short interactions that we call Experiences.</p>
                  </header>
                  <a href="#" class="watch-video" data-500-top-top="transform: rotateX(80deg)" data-200-top-top="transform: rotateX(0)">Watch video</a>
                </div>
              </section>
              <!-- /Section -->

              <!-- Section -->
              <section class="section section-gray section-products" id="products">
                <div class="container">
                 <header class="section-intro">
                  <h3>tACC Powered Products</h3>
                  <p>The H2H Platform powers content delivery and data collection solutions  across a variety of industries and uses.</p> 
                </header>
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 product">
                    <div data-500-top-top="margin-left:-200px" data-100-top-top="margin-left:0">
                      <h5>THRIVE</h5>
                      <p>Professional &amp; personal<br />development in a minute or less.</p>
                      <a href="http://www.gothrive.io" target="_blank"><i class="fa fa-external-link-square"></i> Visit Thrive</a>
                      <div class="iphone iphone-thrive"></div>
                    </div>
                  </div>
                  <div class="col-sm-5 col-md-4 product">
                    <div data-500-top-top="margin-right:-200px" data-100-top-top="margin-right:0">
                      <h5><i>em</i>otive</h5>
                      <p>Does your brand have<br />infinite possibilities? </p>
                      <a href="http://www.goemotive.io" target="_blank"><i class="fa fa-external-link-square"></i> Visit Emotive</a>
                      <div class="iphone iphone-emotive"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- /Section -->

            <!-- Section -->
            <section class="section" id="clients">
              <div class="container">
               <header class="section-intro">
                <h3>We help clients and their customers build bonds</h3>
                <p>Our clients use the H2H Platform to manage and deliver content, create context, influence and measure emotion, collect and analyze data, and build bonds.</p>
              </header>
              <div class="clients">

                <div class="client client-bayer">
                  <div class="client-tooltip">
                    <p>Bayer MaterialScience</p>
                    <ul>
                      <li><i class="fa fa-check"></i>6 Month Employee Engagement Program</li>
                      <li><i class="fa fa-check"></i>3 Interactions per Day, Monday - Friday</li>
                      <li><i class="fa fa-check"></i>Topics included Trust and Motivation</li>
                      <li><i class="fa fa-check"></i>Measured Positivity, Communication, and Contribution at individual and group levels</li>
                    </ul>
                  </div>
                </div>

                <div class="client client-truesense">
                  <div class="client-tooltip">
                    <p>TrueSense Marketing</p>
                    <ul>
                      <li><i class="fa fa-check"></i>3 Month Employee Training Program</li>
                      <li><i class="fa fa-check"></i>Focused on Conflict Management and Resolution</li>
                      <li><i class="fa fa-check"></i>2 Interactions per Day, Monday - Friday</li>
                      <li><i class="fa fa-check"></i>Reinforced previous training, assessed individual and group comprehension</li>
                    </ul>
                  </div>
                </div>

                <div class="client client-crowdcuring">
                  <div class="client-tooltip">
                    <p>Crowdcuring</p>
                    <ul>
                      <li><i class="fa fa-check"></i>Supports Betterbox, a personal, guided health education program</li>
                      <li><i class="fa fa-check"></i>Reinforce Betterbox materials and literature</li>
                      <li><i class="fa fa-check"></i>Interacts with users daily, assessing their progress</li>
                      <li><i class="fa fa-check"></i>Regularly collects user feedback</li>
                      <li><i class="fa fa-check"></i>Enables individuals to become active participants in their health</li>
                    </ul>
                  </div>
                </div>

                <div class="client client-philips">
                  <div class="client-tooltip">
                    <p>Philips Respironics</p>
                    <ul>
                      <li><i class="fa fa-check"></i>6 Month Employee Engagement Program</li>
                      <li><i class="fa fa-check"></i>3 Interactions per Day, Monday - Friday</li>
                      <li><i class="fa fa-check"></i>Topics included Trust and Motivation</li>
                      <li><i class="fa fa-check"></i>Measured Positivity, Communication, and Contribution at individual and group levels</li>
                    </ul>
                  </div>
                </div>

                <div class="client client-rodriguez">
                  <div class="client-tooltip">
                    <p>Rodriguez and Associates</p>
                    <ul>
                      <li><i class="fa fa-check"></i>Program to support gender and diversity awareness</li>
                      <li><i class="fa fa-check"></i>Adapted existing content into an H2H Platform Program</li>
                      <li><i class="fa fa-check"></i>Designed program flow and delivery scheme</li>
                      <li><i class="fa fa-check"></i>Developed data collection and analysis methods</li>
                      <li><i class="fa fa-check"></i>Currently empowering individuals across the globe</li>
                    </ul>
                  </div>
                </div>

                <div class="client client-reveal">
                  <div class="client-tooltip">
                    <p>Reveal Your Power</p>
                    <ul>
                      <li><i class="fa fa-check"></i>4 Simple Principles to Access the Wealth, Health, &amp; Love You Desire</li>
                      <li><i class="fa fa-check"></i>Adapted Reveal Your Power Book into an H2H Platform Program</li>
                      <li><i class="fa fa-check"></i>Designed program flow and delivery scheme</li>
                      <li><i class="fa fa-check"></i>Developed data collection and analysis methods</li>
                      <li><i class="fa fa-check"></i>Currently helping people navigate life’s changes with confidence</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </section>
          <!-- /Section -->

          <!-- Section -->
          <section class="section" id="about">
            <div class="container">
             <header class="section-intro">
              <h3>About tACC</h3>
              <p>the Affective Computing Company develops software products and services that influence, recognize, interpret, process, and simulate human emotion. But, what does that mean? And, what’s the purpose?</p>
            </header>
            <div class="row">
              <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
                <div class="about-icon"><i class="fa fa-group"></i></div>
                <div class="about-content" data-500-top-top="transform: flipX(1.15)" data-200-top-top="transform: scale(1)">
                  <h4 class="sub-title">Groups and Teams</h4>
                  <p>The H2H Platform builds lasting bonds between groups and teams. This could refer to an employer and employess, a doctor and patiens, a teacher and students - any relationship that relies on continued growth and trust.</p>
                </div>
              </div>
              <div class="col-sm-5 col-md-4">
                <div class="about-icon"><i class="fa fa-user"></i></div>
                <div class="about-content">
                  <h4 class="sub-title">Individuals</h4>
                  <p>The H2H Paltform helps individuals understand how their situations affect them. This understanding results in resilient indivduals who make confident decisions and take the right actions.</p>
                </div>
              </div>
            </div>
            <p class="motto"><small>At the center of it all is the Holy Grail: Self-Awareness. At tACC, our motto is simple.</small>Understand yourself. Feel better. Live better.</p>

          </div>
        </section>
        <!-- /Section -->

        <!-- Section -->
        <section class="section section-gray">
          <div class="container">
           <header class="section-intro">
            <h3>A Company Timeline</h3>
            <p>The Affective Computing Company has come a long way, starting in our founder’s attic, moving to a basement lab, to our newest digs in the East Liberty neighborhood of Pittsburgh. We built a great product along the way, too! Check out some of the highlights below.</p>
          </header>
        </div>

        <div class="timeline" data-500-top-top="transform: rotateZ(-5deg)" data-400-top-top="transform: rotateZ(0)">
          <div class="container">
            <div class="timeline-wrap">

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Admin and User Portals</p> 
                  <p>Introduce first version of Administrator and User Portals. These allow clients and users to view, analyze, and trend data, and take action!</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-dashboard"></i>
                <span class="date">November 18th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">THRIVE Beta - Test Concludes</p> 
                  <p>6-Month THRIVE beta-test with Bayer MaterialScience concludes. The result is 180,000 unique data points for the client related to Positivity, Communication and Contribution, both in the moment, and over time.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-line-chart"></i>
                <span class="date">October 13th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Response Coding</p> 
                  <p>Ability to create custom Coding Schemes within the platform. Clients can create “Class Codes” and assign as many as they would like to question responses. These give the responses meaning.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-comments-o"></i>
                <span class="date">July 30th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">SMS Capability</p> 
                  <p>Experiences can be delivered via text messages, enabling personal and convenient interactions, and the collection of more honest data.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-mobile"></i>
                <span class="date">June 20th, 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Custom User Feedback Screens</p> 
                  <p>Enable Experiences to end with a custom feedback screen, showing users things like progress and comparisons. </p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-smile-o"></i>
                <span class="date">June 8th, 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">THRIVE Kick-Off</p> 
                  <p>The H2H Platform starts delivering it’s first experiences to Bayer MaterialScience. Employees will interact with the platform daily, for no more than 60 seconds each time. We’ll focus on Positivity, Communication and Contribution.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-sitemap"></i>
                <span class="date">May 19th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Branding Customization</p> 
                  <p>The introduction of styleheets allow our clients to customize various aspects of the platform with their own branding, such as colors and logos.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-paint-brush"></i>
                <span class="date">April 14th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Our 1st Product - THRIVE!</p> 
                  <p>tACC introduces our first product, THRIVE, to Bayer MaterialSciences. A new take on Employee Engagement, they agree to a beta-test. We’re in!</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-star"></i>
                <span class="date">March 11th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Robust Scheduling Engine</p> 
                  <p>Platform Scheduler supports Ecological Momentary Assessment - the gold standard in data collection methodology.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-area-chart"></i>
                <span class="date">February 11th, 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Bayer MaterialScience Approaches tACC</p> 
                  <p>Bayer MaterialScience approaches tACC about developing a new type of Employee Engagement Program for younger employees. They want something sleek and modern.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-medkit"></i>
                <span class="date">February 9th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">Ember Beautification</p> 
                  <p>Experiences sent from the H2H Platform are converted to Ember Web Applications - flexible, powerful and beautiful.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-code"></i>
                <span class="date">January 14th 2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">The Platform Finds a Home</p> 
                  <p>We had developed a small platform to test our idea - it worked and people were interested! But, it wasn’t scaleable and it wasn’t flexible. So, we rewrote the initial code in Ruby, parked it in the Amazon Cloud, and set up shop on GitHub for source code management.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-cloud"></i>
                <span class="date">January 1st 2014</span>
              </a>



              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">A Platform Designed</p> 
                  <p>Our platform had to do more than ask questions. It had to easily facilitate the creation, management, and delivery of content. It had to collect and analyze data. It had to provide reports and feedback. It had to be powerful. It also had to be engaging. It needed to feel like an interaction with a friend - not a piece of technology. To build bonds, it had to be non-intrusive and convenient. It had to be flexible. It had to learn, and it had to adapt. It had to be beautiful.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-cogs"></i>
                <span class="date">2013-2014</span>
              </a>

              <a class="timeline-item" href="javascript:;">
                <span class="timeline-tooltip">
                  <p class="title">An Idea Formed</p> 
                  <p>It started with 2 years of research, reading, discussions, meetings...and it resulted in an idea: a Human to Human platform that Interacts with people, over time, getting to know them as individuals, as opposed to demographics.</p>
                </span>
                <span class="dot"></span>
                <i class="fa fa-flask"></i>
                <span class="date">2012-2013</span>
              </a>

            </div>

          </div>
        </div>

        <div class="container">
          <button data-timeline="future" class="btn btn-link btn-timeline pull-right">See future <i class="fa fa-long-arrow-right"></i></button>
          <button data-timeline="past" class="btn btn-link btn-timeline pull-left"><i class="fa fa-long-arrow-left"></i> See past</button>
        </div>

      </section>
      <!-- /Section -->

      <!-- Section -->
      <section class="section" id="contact">
        <div class="container">
         <header class="section-intro">
           <h3>We are tACC. It’s nice to meet you.</h3>
           <p>We’re a team with diverse backgrounds, but a common goal: to do well, while doing good.</p>
         </header>
         <div class="row">
           <div class="cycle-team"> 

            <div class="slide">
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>Joe Stafura<small>Founder and CEO</small></h5>
                <p>Joe lives in Southside Slopes neighborhood of Pittsburgh, PA with his wife Penny and golden retriever Beke (peace in Hungarian). When he’s not guiding tACC’s vision, you can usually find him up in his woods, chopping down trees and clearing paths.</p>
              </div>
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>John Riley<small>CFO</small></h5>
                <p>Originally from the Pittsburgh area, John and his wife moved back to the ‘burg in 1991, after a stint in Boston. John has twin boys and is an active member of Pittsburgh’s academic and business communities.</p>    
              </div>
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>Derek Armfield<small>MD - Medical Officer</small></h5>
                <p>Derek is a musculoskeletal radiologist who studied at Stanford University and the University of Pittsburgh. Along with supporting our healthcare initiatives, Derek is a successful entrepreneur who plays a key role in the overall strategy of the Affective Computing Company.</p>
              </div>
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>Dan Stafura<small>VP, Operations</small></h5>
                <p>Dan is a fourth generation Monongahela Valley resident, raised on the streets of Pittsburgh’s Southside. A pseudo-philosopher, he loves reading all the “greats”, and now and then he even understands them!</p>
              </div>
            </div>

            <div class="slide">
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>Rousseau Kleuver<small>VP, Business Development</small></h5>
                <p>Rousseau is a South African native that pursued a stateside education. A collegiate athlete, he completed his undergrad at the University of Pittsburgh and is enrolled in a Masters Program at Duquesne University. Passionate about sports, he plays rugby and represents Liverpool Football.</p>
              </div>
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>Geoff Abraham<small>VP, Sales </small></h5>
                <p>Geoff grew up in Pittsburgh and studied Political Economy at Tulane University in New Orleans. He lived in NYC for 6 years after graduation, before moving back to the ‘burg with his brindle boxer Bodie. Born in London, Geoff continues to be an avid Chelsea Football supporter (a sensitive subject for Rousseau).</p>
              </div>
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>Roy Liu<small>Data Architect</small></h5>
                <p>Roy is a jack of all trades and a master of some. He makes sure our web applications are fast, scalable, and running smoothly in the cloud. An open source “mad scientist”, feel free to introduce yourself to Roy on <a href="https://www.github.com/carsomyr">GitHub</a></p>
              </div>
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>Clark Slater<small>Software Architect</small></h5>
                <p>Clark has been in a committed relationship with open source software for a decade plus. With a Masters in Human-Computer Interaction from CMU, Clark ensures our web applications are intuitive and powerful. He’ll also woo you with a <a href="http://clarkslater.com">song</a></p>
              </div>
            </div>

            <div class="slide">
              <div class="col-md-3 col-sm-6 team-profile">
                <img src="http://placehold.it/300x300" class="img-responsive">
                <h5>JZ Stafura<small>Chief Cognitive Scientist</small></h5>
                <p>JZ - son of Joe and brother of Dan - is currently a PhD candidate at the University of Pittsburgh, studying Cognitive Neuroscience. An expert in learning and language comprehension, JZ makes sure our content is impactful and our data is powerful.</p>
              </div>
            </div>

          </div>
          <div class="cycle-pager clearfix"></div>
        </div>
      </div>
    </section>
    <!-- /Section -->
    <!-- Section -->
    <section class="section section-brand" id="contact-us">
      <div class="container container-relative">
        <div id="contact" class="contact-items">
          <div class="contact-item">
           <header class="section-intro">
             <h3>Let’s keep this conversation going.</h3>
             <p>Get in touch with us!</p>
           </header>
           <a href="mailto:info@taccpgh.com" class="btn btn-info-inverted add-right">Send us a message</a>
           <a href="javascript:;" class="btn btn-info-inverted cycle-next-form">Request a demo</a> 
         </div>
         <div class="contact-item">
           <header class="section-intro">
             <h3>Let’s keep this conversation going.</h3>
             <p>Request a demo!</p>
           </header>
           <form class="form-contact" action="">
            <div class="form-inline">
              <input type="text" class="form-control" id="name" required placeholder="What's your name?">
              <input type="email" class="form-control" id="email" reqiured placeholder="What's your e-mail?">
              <button type="submit" class="btn btn-white">Send</button>
            </div>
            <div class="nav-contact">
             <a class="btn btn-link cycle-prev-form" href="javascript:;"><i class="fa fa-long-arrow-left"></i> Go back</a>
             <a class="btn btn-link cycle-next-form" href="javascript:;">Keep talking <i class="fa fa-long-arrow-right"></i></a>
           </div>
         </form>
       </div>
       <div class="contact-item">
         <header class="section-intro">
           <h3>Let’s keep this conversation going.</h3>
           <p>How could the H2H Platform help you?</p>
         </header>
         <form class="form-contact" action="">
           <div class="checkbox-list">
             <input id="check_1" name="check" type="checkbox" value="everyday-living">
             <label class="label-checkbox" for="check_1"><i class="fa fa-times"></i> Everyday Living</label>
             <input id="check_2" name="check" type="checkbox" value="healthcare">
             <label class="label-checkbox" for="check_2"><i class="fa fa-times"></i> Healthcare Management</label>
             <input id="check_3" name="check" type="checkbox" value="customer-intelligence">
             <label class="label-checkbox" for="check_3"><i class="fa fa-times"></i> Customer Intelligence</label>
             <input id="check_4" name="check" type="checkbox" value="professional-hr">
             <label class="label-checkbox" for="check_4"><i class="fa fa-times"></i> Professional/HR</label>
             <input id="check_5" name="check" type="checkbox" value="interactive-publishing">
             <label class="label-checkbox" for="check_5"><i class="fa fa-times"></i> Interactive Publishing</label>
             <input id="check_6" name="check" type="checkbox"value="other">
             <label class="label-checkbox" for="check_6"><i class="fa fa-times"></i> Other</label>
           </div>
           <button type="submit" class="btn btn-white">Send</button>
         </form>
         <div class="nav-contact">
           <a class="btn btn-link cycle-prev-form" href="javascript:;"><i class="fa fa-long-arrow-left"></i> Go back</a>
         </div>
       </div>
       <div class="contact-item">
        <header class="section-intro">
         <h3>Thank you!</h3>
         <p>We will be in touch shortly.</p>
       </header>
     </div>
   </div>
 </div>
</section>
<!-- /Section -->
<!-- Section -->
<section class="section section-map">
  <div class="map" id="map"></div>
</section>
<!-- /Section -->
<footer class="section section-footer">
  <h5>The Affective Computing Company</h5>
  <p>6101 Penn Avenue<br />
    Pittsburgh, PA 15206</p>
    <p>
      <a href="mailto:info@taccpgh.com">info@taccpgh.com</a><br />
      <a href="tel:+14128972782">412 897 2782</a>
    </p>

    <p class="social">
      <a href="https://www.facebook.com/taccpgh" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/AffectiveCompCo" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/company/thrive-experience-platform" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="mailto:info@taccpgh.com" target="_blank"><i class="fa fa-envelope"></i></a>
    </p>
  </footer>

</main>
<!-- /Content -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
<script src="scripts/app.js"></script>
</body>
</html>